<% flash.select { |k, v| k.in? %(alert notice) }.each do |k, v| %>
	<div class="alert alert-<%= k %>">
		<div class="container">
			<div class="row">
				<%= v %>
			</div>
		</div>
	</div>
<% end %>
